.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

/* shared */
.secondary-bg {
  background-color: #fff8f3;
}
.btn-primary {
  background-color: #fd6e0a;
  font-weight: bold;
  font-size: 20px;
  color: white;
  padding: 18px 20px;
  border-radius: 5px;
  border: none;
}

.section-tittle {
  font-size: 35px;
  font-weight: bold;
  color: #181818;
}
.section-description {
  font-size: 18px;
  color: #757575;
}
.text-center {
  text-align: center;
}
/* Nav styles */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 50px 200px;
}

/* text style */
.text-primary {
  color: #fd6e0a;
}

.dark-1 {
  color: #181818;
}
.dark-2 {
  color: #474747;
}
.dark-3 {
  color: #757575;
}
.nav-tittle {
  font-weight: 800;
  font-size: 45px;
}
nav ul {
  display: flex;
  align-items: center;
}
nav ul li {
  list-style: none;
  margin-right: 51px;
}

nav li a {
  text-decoration: none;
  font-size: 20px;
}

/* header */
.header {
  background-image: url(../images/developer.png), url(../images/header_bg.png);
  background-repeat: no-repeat;
  background-position: top left, bottom right;
}

/* banner styles */
.banner {
  display: flex;
  justify-content: space-between;
  margin: 0 35px 0 200px;
}
.banner-content {
  width: 580;
}
.banner-greeting {
  font-size: 45px;
  font: weight 600px;
}

.banner-tittle {
  font-size: 85px;
  font-weight: bold;
}

.banner-description {
  font-size: 18px;
}

.banner-profile-pic {
  width: 580px;
}

/* main style */
main {
  max-width: 1140px;
  margin: 0 auto;
}

main section {
  margin-top: 130px;
  margin-bottom: 130px;
}
/* about styles */
.about {
  border-radius: 10px;
  padding: 130px 150px;
  text-align: center;
}

.about-items {
  display: flex;
  justify-content: space-around;
  gap: 0px;
}

.item-description {
  font-weight: bold;
  font-size: 20;
}
.item-tittle {
  margin-bottom: 10px;
}

/* what I do */

/* skill section stayle */
.skill-container {
  display: flex;
  gap: 24px;
}
.skill {
  padding: 30px;
  box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
  border-radius: 5px;
}
